* {
    font-family: sans-serif;
}

body {
    background-color: #B0C4DE;
}

a {
    color: black;
}
a:active {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dev a {
    margin-right: 5px;
}


 
.columna1 {
    position: absolute;
    padding: 10px; 
    float: left; 
    width: 45%; 
    text-align: justify;
   }
   
.columna2 {
   margin-left:50%;
   margin-right:20px;
   margin-top:10px;
   background-color:#2124f0;
   }